{% extends '__base__.html' %}
{% load myfilter %}
{% block title %}博客{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2><a href="/article/?id={{ article.id }}" name='a'>{{ article.title }}</a></h2>
            <p class="uk-article-meta">发表于{{ article.date_publish |date:'Y-m-d' }}</p>
            <p>{{ article.content }}</p>
            <p><a href="/blog/">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <p>点击次数:{{ article.click_count }}</p>{% for tag in article.tag.all %}
        <p>标签:{{ tag.name }}</p>{% endfor %}<p>分类:{{ article.category.name }}</p>
        <hr/>
        <div class='comment'>
        	<p>评论：</p>
        	{% for comment in comment_list %}
        	<p>{{ comment.username}}:{{ comment.content}}</p>
        		{% for children_comment in comment.children_comment %}
        		<p>&nbsp;&nbsp;&nbsp;{{ comment.username}}:{{ children_comment.content }}</p>
        		{% endfor %}
        	{% endfor %}
        </div>
        <hr/>
        {% if not request.user.is_authenticated %}
        <div>还没登陆？可以登陆后再评论哦<a href="{% url 'login' %}">登录</a></div>
        {% else %}
        <div><b>{{ request.user }}</b>,快来发表评论吧！</div>
        {% endif %}
		<form action="{% url 'comment_post' %}" method="post">
		{% csrf_token %}	
			<p>{{ comment_form.comment_content }}</p>
			<p>{{ comment_form.article }}</p>
			<p>{{ comment_form.username }}</p>
			<p><input type="submit"></p>		
		</form>


    </div>


	
{% endblock %}